.DS_Store
node_modules/
dist/static/
dist/vendor/
dist/composer.lock
dist/composer.phar
dist/index.html
npm-debug.log
yarn-error.log
test/unit/coverage
src/assets/
vendor/
static/pure-min.css
static/grids-responsive-min.css
*.swp

